#score {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  width: 100%;
  max-width: 500px;

  & > div {
    display: flex;
    gap: 0.25rem;
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }
}
